<!-- About Section -->

    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1 class="section-heading">من نحن</h1>
                    <br /><br /><br />
                </div>
            </div>
            <div class="row">
<div class="col-md-6"><iframe title="فيديو تعريفي عن الشركة" class="lazyload" width="100%" height="330" data-src="https://www.youtube.com/embed/mjnWnxhVSA8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
                <div class="col-md-6" style="text-align: right;">
                                    <p class="text-muted">تأسـسـت مؤســسـة رواج الإتـقان فــي عـام 2012، نمت المؤسسة بشكل مطرد و نجـاح متواتر و ذلك لإتمامها مختلف المشـاريـع الخاصـة بحيث كونت قاعدة مالية مستقرة و موظفين ذوي خبرة و درايـة جديـة مـع الـمـتطلبـات الصارمة للمشاريع المختلفة , حيث اكتسـب الـفـريــق خـبـرة مـن سـنـوات عـديـدة مــن المشاركة في مشاريع واسعة النطاق. وقد تم إنشاء 
<a href="https://rawajitqan.com/IT">
الشركة التقنية
</a>
 الرديفة لنا لتقديم خدمات تقنية المعلومات لعملائنا.
</p>
<h2>رسالتنا</h2>
<p class="text-muted">
    تلتزم مؤسسة رواج الإتقان بتقديـم مستـوى عالـي مـن الـخـدمـات و المنتجـات و طبقـاً لمعايير الجودة
    • تحرص مؤسسة رواج الإتقان على إرضاء عملائها و تلبية احتياجاتهم.
    • تعتقـد مؤسسة رواج الإتقان اعتقاداً راسخاً بـأن عـمـلـيـة تـطـويـر الـشـركـات تـرتبـط بمواردها البشرية
    • تشـجع مؤسـسة رواج الإتقان العامـلين بها للحصـول علـى أعلى المناصب و ذلك تبعاً لمؤهلاتهم و السياسة الإدارية الحريصة.
    • تهـدف مـؤسـسة رواج الإتقان إلـى توسعـة أنشـطة المؤسـسة الحالـية و افتتـاح أنـشطة جديدة.
    • تبذل مؤسسة رواج الإتقان كل إمكانياتها لتوفير خدمات البناء المتنوعة باعتبارها مقاول رئيسي أو المشاريع بالباطن.
    • تقدم مؤسـسة رواج الإتـقـان حـلـول لـمتطلبات الـعمل لتكون المؤسسة الرائدة في الجودة و دقـة المواعيـد في تـسليم الأعمال و سـلامة و أخلاقيات العـمل لتحقيـق رضا مطلق للعملاء.</P>
<h2>رؤيتنا</h2>
<p class="text-muted">تتطلع مؤسـسة رواج الإتقان إلى أن تصبـح من كـبـرى المنشـآت الـرائـدة علـى مستوى شـركـات قـطـاع الـمـقاولات و التجارة فـي المـمكلـة الـعربيـة السـعوديـة، كـما تسـعـى لافتـتـاح المـزيـد مـن المجالات و الأنشطـة التي تتعلق بقطاع المقاولات.</p>
                             </div>

                            </div>
                        </li>
                    </ul><br><br>
          <center> <a class="button" href="tel:+966539122203">اتصل الآن</a> <p class="text-muted">+966 539 1222 03</p> </center>
        </div>


    </section>
