<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <br /><br /><br />
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                                    <p class="text-muted">Rawaj Al-Itqan was established in 2012. The establishment has grown steadily with frequently success for the completion of various projects, so that it formed a stable financial base and staff with highly experienced and  knowledgeable with the strict requirements for different projects, where the team acquired many years of experience participation in large-scale projects</p>
<h5>Our Mission </h5>
<p class="text-muted">Rawaj Al-Itqan Est.  is committed to providing a High quality level of services  and products according to quality  standards Rawaj Al-Itqan Est works to satisfy its Customers and  meet their needs. Rawaj Al-Itqan Est. firmly believes that the process of development of companies is linked with their  human resources. Rawaj   Al-Itqan Est. promotes its employees to get the highest positions depending on their qualifications and careful management policy. Rawaj   Al-Itqan  Est. aims to expand the current activities and opening new activities Rawaj Al-Itqan Est. is doing  its utmost to provide a variety of construction services as main contractor   or  sub-contractor Rawaj  Al-Itqan  Est.  provides solutions to business requirements to be the leading  organization  in Quality and Punctuality in business delivery and integrity and work ethic to achieve absolute customer satisfacion.s</p>
<h5>Our Vision</h5>
<p class="text-muted">Rawaj AlItqan Est. looks forward to becoming one of the leading facilities on the level of Construction & Trading Companies in Saudi Arabia, and also seeking to open more fields and activities which are related to the construction sector.</p>
                             </div>
<div class="col-md-6"><iframe width="100%" height="330" src="https://www.youtube.com/embed/mjnWnxhVSA8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
                            </div>
                        </li>
                    </ul>
             
        </div>
    </section>
