<style>
.py-8 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.w-3\/4 {
  width: 75%;
}
.m-auto {
  margin: auto;
}
.bg-gray-100 {
  --tw-bg-opacity: 1;
  background-color: rgba(244, 244, 245, var(--tw-bg-opacity));
}
.rounded-lg {
  border-radius: 0.5rem;
}
.shadow-md {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}


.max-w-screen-md {
  max-width: 100%;
}

.px-8 {
  padding-left: 2rem;
  padding-right: 2rem;
}
.peep {
color: #333
}
</style>
<center>
  <div class="py-8 px-4 w-3/4 m-auto bg-gray-100 rounded-lg shadow-md lg:py-16 lg:px-6">

  
      <div class="mx-auto max-w-screen-md px-8 sm:text-center">

          <p class="mx-auto mb-8 max-w-2xl font-light md:mb-12 sm:text-base peep">
لا يوجد وظائف متاحة حاليًا.
       <p style="direction:ltr" class="peep">
        There are no open positions at this time.
        </p>

</p>
</div>
</div>
<!-- 
<div id="zf_div_3krPbtWZ2W7xC_N7X5nmvBvIzFc20T2pRH-5CfiT3Zg"></div><script type="text/javascript">(function() {
try{
var f = document.createElement("iframe");   
f.src = 'https://forms.zohopublic.com/virtualoffice18342/form/JobApplicationForm/formperma/3krPbtWZ2W7xC_N7X5nmvBvIzFc20T2pRH-5CfiT3Zg?zf_rszfm=1';
f.style.border="none";                                           
f.style.height="1900px";
f.style.width="90%";
f.style.transition="all 0.5s ease";// No I18N
var d = document.getElementById("zf_div_3krPbtWZ2W7xC_N7X5nmvBvIzFc20T2pRH-5CfiT3Zg");
d.appendChild(f);
window.addEventListener('message', function (){
var zf_ifrm_data = event.data.split("|");
var zf_perma = zf_ifrm_data[0];
var zf_ifrm_ht_nw = ( parseInt(zf_ifrm_data[1], 10) + 15 ) + "px";
var iframe = document.getElementById("zf_div_3krPbtWZ2W7xC_N7X5nmvBvIzFc20T2pRH-5CfiT3Zg").getElementsByTagName("iframe")[0];
if ( (iframe.src).indexOf('formperma') > 0 && (iframe.src).indexOf(zf_perma) > 0 ) {
var prevIframeHeight = iframe.style.height;
if ( prevIframeHeight != zf_ifrm_ht_nw ) {
iframe.style.height = zf_ifrm_ht_nw;
}   
}
}, false);
}catch(e){}
})();</script>
-->
</center>
