<!-- Clients Aside -->

<section id="clients">
    <aside >
   
     <center>  
<div class="col-lg-12 text-center">
                    <h1 class="section-heading">
{% if page.url contains "/en" %}
Our Clients
{% else %}

عملاؤنا
{% endif %}



</h1>

                </div>
 <div >
         
<style>
img{
height:100px;
}
</style>
                  
                        <img class="lazyload client grid-item-1" data-src="/img/logos/alfanar.webp" alt="شركة الفنار">
                 

                        <img class="lazyload client" data-src="/img/logos/01-08-24-969536057.webp"  alt="عملاؤنا شركة رواج الإتقان">
                 
                
                  
                        <img class="lazyload client" data-src="/img/logos/dv5d.webp"  alt="شركة سعودي أوجيه المحدودة">
                  
             
                        <img class="lazyload client" data-src="/img/logos/AlArrab-Contracting-Company.webp"  alt="شركة العراب للمقاولات">
             
                        <img class="lazyload client" data-src="/img/logos/Q73dxQH7_400x400.webp"  alt="شركة الفهد للتجارة والصناعة والمقاولات">
                          
            
                        <img class="lazyload client" data-src="/img/logos/aqkh32dm_u53.webp" alt="الشركة اللطيفية للتجارة والمقاولات">
               
                         
                        <img class="lazyload client" data-src="/img/logos/الطاقة-1.webp"  alt="العجيمي">
                  
              


         
        </div></center>
    </aside>
</section>

