<section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-center">Contact Us</h2>
                   <br /><br /></div></div><div class="row" style=" background:#16576a;">
<div class="col-md-6">
<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14494.382533589152!2d46.805093!3d24.740759!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xe88a8a271d339fbd!2z2YXYpNiz2LPYqSDYsdmI2KfYrCDYp9mE2KXYqtmC2KfZhiDZhNmE2YXZgtin2YjZhNin2Ko!5e0!3m2!1sen!2str!4v1571853872539!5m2!1sen!2str" width="100%" height="280" frameborder="0" style="border:0;" allowfullscreen=""></iframe>

                </div>
            
                <div class="col-md-6 text-center" style="color:#07e5f0">
                    <p><br><br>Khurais Rd, 14231, <br>

طريق خريص، الرياض 14231
<br>
PRR4+82 An Nasim Al Gharbi,
<br>
Riyadh Saudi Arabia
<br>
Phone: +966 539 1222 03
</p>

                </div>
            </div> <br><br><br><div class="row">
                <div class="col-lg-12 text-center">
 <a href="{{ '/contact' | prepend: site.baseurl }}" class="page-scroll btn btn-xl" >Send Us A Message</a>
</div></div>
        </div>
    </section>
