<!-- Navigation -->
<style>
@media (max-width:768px){

.collapse navbar-collapse{
width: 200px;
}
}
</style>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            
 <div class="navbar-header page-scroll" style="float:right">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>


                <a class="navbar-brand page-scroll" style="color: Dodgerblue;font-family:'cairo',arial;margin-right: -15px;margin-top: -18px;line-height: 50px;" href="https://rawajitqan.com">رواج الإتقان&nbsp&nbsp<img style="
    height: 58px !important;
" src="{{ '/img/g57.png' | prepend: site.baseurl }}" alt="شعار شركة رواج الإتقان للمقاولات"></a>


            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="direction: rtl;">
                <ul class="nav navbar-nav">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                   
                  
                    
               
                  
                  <li>
                        <a class="page-scroll" href="{{ '/blog' | prepend: site.baseurl }}">المدونة</a>
                    </li> 
  <li>
                        <a class="page-scroll" href="{{ '/careers' | prepend: site.baseurl }}">وظائف</a>
                    </li>

 <li>
                        <a class="page-scroll" href="#contact">اتصل بنا</a>
                    </li>
   
                    <li>
                        <a class="page-scroll" href="#clients">عملاؤنا</a>
                    </li>
  <li>
                        <a class="page-scroll" href="#about">من نحن</a>
                    </li>
<li>
                        <a class="page-scroll" href="#portfolio">أعمالنا</a>
                    </li>
  <li>
                        <a class="page-scroll" href="#services">خدماتنا</a>
                    </li>
                </ul>

            </div>
            <!-- /.navbar-collapse -->
           <a href="{{ site.baseurl }}/en"><button class="lang-btn" >English</button></a>
        </div>
        <!-- /.container-fluid -->
    </nav>
<header>
    {% include main_slider.html %}
    <!-- Header -->
    
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">مؤسسة رواج الإتقان للمقاولات</div>
                <div class="intro-heading">نساعدك في مختلف المشاريع العمرانية</div>
                <a href="#services" class="page-scroll btn btn-xl" >تعرّف أكثر</a>
            </div>
        </div>
    </header>
<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->

