<!-- Navigation -->
<style>
.navbar-default .navbar-collapse {

    float: left !important;

}
</style>
    <nav class="navbar navbar-default navbar-fixed-top" >
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
               <a class="navbar-brand page-scroll" style="color: Dodgerblue; float: left" href="https://rawajitqan.com/en"><img style="  width: 66px !important;
    height: 58px !important;
margin-top: -18px;
" src="{{ '/img/g57.png' | prepend: site.baseurl }}">{{site.title}}</a>

            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-left">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                   
                    <li>
                        <a class="page-scroll" href="#services">Services</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">Profile</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#clients">Clients</a>
                    </li>
                  
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
  <li>
                        <a class="page-scroll" href="{{ '/careers' | prepend: site.baseurl }}">Careers</a>
                    </li>
<li>
                        <a class="page-scroll" href="{{ '/blog' | prepend: site.baseurl }}">Blog</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        <a href="{{ site.baseurl }}/"><button class="lang-btn" >العربية</button></a>
        </div>
        <!-- /.container-fluid -->

    </nav>
    {% include main_slider.html %}
    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Welcome To Rawaj Alitqan!</div>
                <div class="intro-heading">Better Solutions for your Projects</div>
                <a href="#services" class="page-scroll btn btn-xl" >Tell Me More</a>
            </div>
        </div>
    </header>
<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->

