<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1 class="section-heading">Services</h1>
                    <h2 class="section-subheading text-muted">Here Are Some of Our Services</h2>
                </div>
            </div>
 <div class="row text-center">
<div class="flex-inline">
<div class="col-md-6"> <a href="/en/3d-design">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"style="color: Dodgerblue;"></i>
                        <i class="fas fa-cubes fa-stack-1x fa-inverse"></i>
                    </span>
                   <h3 class="service-heading">3D design
</h3></a>
                    <p class="text-muted">
We provide our customers with interior and exterior 3D decoration design services, and we have extensive experience and previous work in this field in various models and types. Examples of some of our work can be viewed
<a href="/en/3d-design">
HERE
</a>
</p>
                </div>
<div class="col-md-6 text-center center">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"style="color: Dodgerblue;"></i>
                        <i class="fas fa-ruler-combined fa-stack-1x fa-inverse"></i>
                    </span>
                    <h3 class="service-heading">LANDSCAPE</h3>
                    <p class="text-muted">RAWAJ AL-ITQAN has a branch specialized in landscaping projects starting from the preparation of drawings and specifications of the works as well as construction works for landscaping works, including the preparation and construction works, civil works for roads and corridors, replacement and renovation of old gardens, irrigation systems, electrical works and external lighting works.</p>
                </div>
         </div><div class="flex-inline">  
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"style="color: Dodgerblue;"></i>
                        <i class="fas fa-paint-roller fa-stack-1x fa-inverse"></i>
                    </span>
                    <h3 class="service-heading">DECORATION AND FINISHING WORKS
</h3>
                    <p class="text-muted">RAWAJ AL-ITQAN provides a wide range of services in interior and exterior decorations and finishing works, in which rawaj al-itqan has a large history of works (villas, palaces, fine restaurants, commercial buildings), which depends mainly on the expertise and merit of experienced staff to achieve degrees a high level of professionalism to achieve the satisfaction of its customers, which is the first criterion for the success of the institution</p>
                </div>
                <div class="col-md-6" ><a href="/en/electrical-works">
                    <span class="fa-stack fa-4x" >
                        <i class="fa fa-circle fa-stack-2x text-primary" style="color: Dodgerblue;"></i>
                        <i class="fas fa-charging-station fa-stack-1x fa-inverse"></i>
                    </span>
                    <h3 class="service-heading">ELECTRICAL WORKS</h3></a>
                    <p class="text-muted">RAWAJ AL ITQAN has a group of engineers and technicians with experience in the implementation of electrical work for small and medium-sized projects (for residential and commercial buildings), and always strive to maintain our reputation through our commitment to provide services that we can accomplish and trust in our cadres and the efficiency of their work is limitless. Some pictures of our work can be viewed <a href="/en/electrical-works">Here</a></p>
                </div>

</div><div style="display:inline-flex">
                <div class="col-md-6" style="margin-right: auto;
margin-left: auto;">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"style="color: Dodgerblue;"></i>
                        <i class="fas fa-hammer fa-stack-1x fa-inverse"></i>
                    </span>
                    <h3 class="service-heading">CONSTRUCTION SERVICES</h3>
                    <p class="text-muted">RAWAJ AL-ITQAN is one of the distinguished companies in the field of construction works, consultancy and project management, which seeks to provide a modern and sophisticated vision in the field of contracting through the introduction of new solutions and ideas for a distinctive real estate product in which the latest techniques and methods of construction are applied and rely mainly on experience. the competence of experienced staff in achieving high degrees of professionalism in order to achieve the satisfaction of its customers, which is the first criterion for the success of the company.</p>
                </div>
</div>
<!-- Features Section -->
 <br><br><br><br><br><br>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 text-left">
                    <h1 class="section-heading">Our Features</h1>
                   
                </div>
            </div>
 <br><br><br>
 <div class="row text-center">
<div class="col-md-3 text-center center ">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-square fa-stack-2x text-primary"style="color: Dodgergreen;"></i>
                        <i class="fas fa-hand-holding-usd fa-stack-1x fa-inverse"></i>
                    </span>
                    <h2 class="service-heading">Cost Accounting</h2>
                    <p class="text-muted">We Study and analyze your project and inform you with its total cost for a Competitive and low price.<br><a href="/contact">Request Cost Analysis!</a></p>
                </div>
<div class="col-md-3">
                    <span class="fa-stack fa-4x" >
                        <i class="fa fa-square fa-stack-2x text-primary" style="color: Dodgergreen;"></i>
                        <i class="fas fa-tape fa-stack-1x fa-inverse"></i>
                    </span>
                    <h2 class="service-heading">Free Architectural Design</h2>
                    <p class="text-muted">You can gain a Free Architectural Design from our experienced Engineers when you make a Deal with us</p>
                </div>
        
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-square fa-stack-2x text-primary"style="color: Dodgergreen;"></i>
                        <i class="fas fa-tasks fa-stack-1x fa-inverse"></i>
                    </span>
                    <h2 class="service-heading">Free Consultation</h2>
                    <p class="text-muted">New clients recieve an obligation free consultation and solutions' Ideas.<br><a href="/contact">Make Consultation!</a></p>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-square fa-stack-2x text-primary"style="color: Dodgergreen;"></i>
                        <i class="fas fa-compass fa-stack-1x fa-inverse"></i>
                    </span>
                    <h2 class="service-heading">All over KSA
</h2>
                    <p class="text-muted">We work in projects all over the KSA </p>

            </div>

              
                

            </div>
        </div>
    </section>
