<!-- Services Section -->
<style>
.col-lg-6 {
    width: 100%;
}

</style>
    <section id="services" style="direction:rtl">
       <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">خدماتنا</h2>
                    <h3 class="section-subheading text-muted">بعض الخدمات التي نقدمها</h3>
                </div>
            </div>
 <div class="row text-center">
<div class="flex-inline">
<div class="col-md-6"> <a href="3d-design">  
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"style="color: Dodgerblue;"></i>
                        <i class="fas fa-cubes fa-stack-1x fa-inverse"></i>
                    </span>
                 <h4 class="service-heading">تصميم ثلاثي الأبعاد
</h4></a>
                    <p class="text-muted">
نقدم لعملائنا خدمات تصميم الديكور ثلاثي الأبعاد 3D الداخلي و الخارجي، و لدينا خبرة و سابقة أعمال كبيرة في هذا المجال و بمختلف الطرازات و الأنواع. يمكن الاطلاع على
<a href="3d-design">
أمثلة من بعض أعمالنا 
</a>
على سبيل المثال لا الحصر .</p>
                </div>
<div class="col-md-6 text-center center">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"style="color: Dodgerblue;"></i>
                        <i class="fas fa-ruler-combined fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">شبكات الري والأعمال الزراعية</h4>
                    <p class="text-muted">لدى رواج الأتقان للمقاولات فرع متخصص في المشروعات شبكات الري و الأعمال الزراعية التي تبدأ من إعداد و تخطيط الأعمال وكذلك جميع الأعمال الإنشائية المرتبطة  بأعمال شبكات الري (الانترلوك و الأرصفة ..الخ) ، بما في ذلك الأعمال الإنشائية للحدائق وأنظمة الري المختلفة والأعمال الكهربائية وأعمال الإضاءة الخارجية.</p>
                </div>
           
</div><div class="flex-inline">
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"style="color: Dodgerblue;"></i>
                        <i class="fas fa-paint-roller fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">أعمال الديكورات  والتشطيبات
</h4>
                    <p class="text-muted">تقدم مؤسسة رواج الاتقان مجموعة واسعة من الخدمات في التشطيبات والديكورات الخارجية و الداخلية ، في حين أن رواج الأتقان لديها سابقة أعمال ضخمة (فيلات ، وقصور ، ومطاعم راقية ، ومباني تجارية) كما لدى مؤسسة رواج الإتقان للمقاولات العديد من المظفين ذوي خبرة كبيرة و تجربة واسعة و قديمة في هذا المجال و تسعى المؤسسة لتحقيق درجة عالية من الاحترافية للوصول الى اعلى درجات رضا العملاء، وهو ما يحقق نجاح المؤسسة.</p>
                </div>

                <div class="col-md-6" >
                    <span class="fa-stack fa-4x" >
                        <i class="fa fa-circle fa-stack-2x text-primary" style="color: Dodgerblue;"></i>
                        <i class="fas fa-charging-station fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">الأعمال الكهربائية</h4>
                    <p class="text-muted">تضم مؤسسة رواج الاتقان للمقاولات مجموعة من المهندسين والفنيين ذوي الخبرة في تنفيذ الأعمال الكهربائية للمشروعات الصغيرة والمتوسطة (للبناء السكني والتجاري) ، و ما يحافظ على سمعة المؤسسة هو الإنجاز الدقيق والثقة في كوادرنا وكفاءة عملهم.</p>
                </div>

</div><div style="display:inline-flex">
                <div class="col-md-6" style="margin-right: auto;
margin-left: auto;">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"style="color: Dodgerblue;"></i>
                        <i class="fas fa-hammer fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">الأعمال الإنشائية</h4>
                    <p class="text-muted">تعتبر مؤسسة رواج الاتقان للمقاولات واحدة من المؤسسات و الشركات المتميزة في مجال أعمال البناء والاستشارات وإدارة المشروعات ، والتي تسعى إلى توفير رؤية حديثة ومتطورة في مجال هندسة المقاولات حيث يتم تطبيق العمل في أحدث التقنيات وأساليب البناء ويعتمد بشكل رئيسي على الخبرة و  كفاءة الموظفين في تحقيق درجات عالية من الكفاءة المهنية من أجل تحقيق رضا العملاء.</p>
                </div>

</div>
<!-- Features Section -->

        <div class="container">
            <div class="row">
                <div class="col-lg-6 text-left">
                    <h2 style="text-align: right;" class="section-heading">المزايا والعروض</h2>
         
                </div>
            </div>
 <br><br><br>
 <div class="row text-center">

  <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-square fa-stack-2x text-primary"style="color: Dodgergreen;"></i>
                        <i class="fas fa-compass fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">جميع أنحاء المملكة
</h4>
                    <p class="text-muted">نعمل على خدمة عملاؤنا في جميع أنحاء المملكة العربيّة السعوديّة</p>

            </div>
        
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-square fa-stack-2x text-primary"style="color: Dodgergreen;"></i>
                        <i class="fas fa-tasks fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">استشارات مجانية</h4>
                    <p class="text-muted">نقدم لعملاؤنا الجدد استشارات وأفكار للحلول مجانا<br><a href="/contact">!اطلب استشارة الآن</a></p>
                </div>
              
<div class="col-md-3">
                    <span class="fa-stack fa-4x" >
                        <i class="fa fa-square fa-stack-2x text-primary" style="color: Dodgergreen;"></i>
                        <i class="fas fa-tape fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">تصميم معماري مجاني</h4>
                    <p class="text-muted">يمكنك الحصول على تصميم معماري مجاني من قبل مهندسينا المختصين وذلك عند الاتفاق وتوقيع العقد</p>
                </div>
<div class="col-md-3 text-center center ">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-square fa-stack-2x text-primary"style="color: Dodgergreen;"></i>
                        <i class="fas fa-hand-holding-usd fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">حساب الكلفة</h4>
                    <p class="text-muted">نقوم بدراسة وتحليل مشروعك وحساب تكلفته لقاء سعر منافس<br><a href="/contact">!اطلب حساب تكلفة الآن</a></p>
                </div>
              
                

            </div>
        </div>
    </section>
